<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bitstudy.app.dao.communityMapper">
<!-- 홍서영 -->
    <!--  유저정보가 일치하는 게시글만 불러오기  -->
    <select id="select_user_community" parameterType="map" resultType="CommunityDto">
        select * from community
        where user_no = #{user_no}
        order by cu_no desc
        limit #{offset}, #{pageSize}
    </select>

    <!--  유저 정보가 일치하는 게시글 개수 -->
    <select id="select_user_coCnt" parameterType="int" resultType="int">
        select count(*) from community
        where user_no = #{user_no}
    </select>


<!-- 이웅희 -->
    <!-- 게시물 등록 -->
    <insert id="insert" parameterType="CommunityDto">
        insert into community values( #{cu_no}, #{user_no}, #{user_id}, #{cu_title}, #{cu_img}, #{cu_content}, now(), #{cu_viewcnt}, #{co_cnt})
    </insert>

    <!-- 게시물 전체 불러오기 -->
    <select id="selectAll" resultType="CommunityDto">
        select * from community order by  cu_no desc
    </select>

    <!-- 범위내로 불러오기 -->
    <select id="selectPage" parameterType="map" resultType="CommunityDto">
        select * from community order by  cu_no desc limit #{offset}, #{pageSize}
    </select>

    <!-- 글수정 -->
    <update id="update" parameterType="map">
        update community
        set cu_title=#{cu_title},
        cu_content=#{cu_content},
        cu_img=#{cu_img},
        cu_update = now()
        where cu_no = #{cu_no} and user_id = #{user_id}

    </update>
    <update id="update2" parameterType="CommunityDto">
        update community
        set cu_title=#{cu_title},
        cu_content=#{cu_content},
        <if test="cu_img!=null">
            cu_img = #{cu_img},
        </if>
        cu_update = now()
        where cu_no = #{cu_no} and user_id = #{user_id}
    </update>

    <!-- 게시글가져오기 -->
    <select id="select" parameterType="int" resultType="CommunityDto">
        select * from community where cu_no = #{cu_no}
    </select>

    <!-- 전체 게시글 수 -->
    <select id="count" resultType="int">
        select count(*) from community
    </select>

    <!-- 전체 게시글 지우기 -->
    <delete id="deleteAll">
        delete from community
    </delete>
    <!-- 선택 게시글 지우기 -->
    <delete id="delete" parameterType="map">
        delete from community where cu_no=#{cu_no} and user_id = #{user_id}
    </delete>

    <!-- 관리자가 글 지우기 -->
    <delete id="deleteForAdmin" parameterType="int">
        delete from community where bno =#{bno}
    </delete>

    <!-- 검색 부분-->
    <select id="searchSelectPage" parameterType="SearchCondition" resultType="CommunityDto">

        select * from community
        where true
        <choose>
            <when test='option == "W"'>
                and user_id like concat('%',#{keyword},'%')
            </when>
            <when test='option == "C"'>
                and  cu_content like concat('%',#{keyword},'%')
            </when>
        </choose>
        order by cu_no desc
        limit #{offset}, #{pageSize}        </select>
    <!--
 -->
    <select id="searchSelectCount" parameterType="SearchCondition" resultType="int">
        select count(*) from community
        where true

        <choose>
            <when test='option == "W"'>
                and user_id like concat('%',#{keyword},'%')
            </when>
            <when test='option == "C"'>
                and cu_content like concat('%',#{keyword},'%')
            </when>
        </choose>
    </select>
    <!--    댓글 개수 증가 +1, -1-->
    <update id="updateCommentCount" parameterType="map">
        update community
        set co_cnt=co_cnt + #{count}
        where cu_no=#{cu_no}
    </update>

</mapper>



















