<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitstudy.app.dao.userMapper">
    <!--  아이디로 유저 정보 불러오기  -->
    <select id="user_select_id" parameterType="String" resultType="UserDto">
        select * from user_info where user_id = #{user_id}
    </select>


    <!--  유저 정보 불러오기  -->
    <select id="user_select_mypage" parameterType="int" resultType="UserDto">
        select * from user_info where user_no = #{user_no}
    </select>

    <select id="user_select" parameterType="String" resultType="UserDto">
        select * from user_info where user_id = #{user_id}
    </select>

    <!--  유저 마이페이지 수정 기능  -->
    <update id="user_modify" parameterType="UserDto">
        update user_info
        set user_pw = #{user_pw},
            user_name = #{user_name},
            user_birth = #{user_birth},
            user_call = #{user_call},
            user_email = #{user_email}
        where user_no = #{user_no} and user_id = #{user_id}
    </update>

    <!--  회원 탈퇴?  -->
    <delete id="user_drop" parameterType="int">
        delete from user_info
        where user_no = #{user_no}
    </delete>





    <!--일단 로그인-->
    <select id="select" parameterType="String" resultType="UserDto">
        select * from user_info where user_id = #{user_id}
    </select>

    <insert id="insert" parameterType="UserDto">
        insert into user_info values (#{user_id},#{user_pw},#{user_name},#{user_email},#{user_birth}, now(), #{user_state})
    </insert>


    <!-- *************** 회원 가입 ******************* -->
    <!-- 견주 데이터 입력   -->
    <insert id="insertUser" parameterType="UserDto">
        insert into user_info(user_id,user_pw,user_name,user_birth,user_call,user_email,user_joindate,user_state)
        values (#{user_id}, #{user_pw}, #{user_name}, #{user_birth}, #{user_call}, #{user_email}, now(), 1)
    </insert>

    <!--  견주 데이터 가져와서 중복검사 -->
    <select id="countSltUser" parameterType="String" resultType="int">
        select count(user_id) from user_info where user_id=#{user_id}
    </select>



    <!-- *************** 로그인 ****************** -->
    <!-- 견주 로그인 데이터 불러오기  -->
    <select id="sltUser" parameterType="map" resultType="UserDto">
        select * from user_info where user_id=#{user_id} and user_pw=#{user_pw}
    </select>
</mapper>
