<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bitstudy.app.dao.eventMapper">

    <select id="getEventList" resultType="EventDto" >

        select *
        from event
        order by ev_update desc

    </select>

    <select id="getEventListPage" parameterType="map" resultType="EventDto" >

        select *
        from event
        order by ev_update desc , ev_no
        limit #{offset}, #{pageSize}

    </select>

    <select id="getEventListPageCount" resultType="int" >
        select count(*) from event
    </select>

    <select id="getEventInfo" parameterType="int" resultType="EventDto" >

        select *
        from event
        where ev_no = #{ev_no}

    </select>


</mapper>